#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 96px;
  background-color: #222;
  color: #ddd;
  font-family: "DisposableDroid BB", monospace;
  text-align: center;
}

#label {
  color: #999;
  font-size: 24px;
  line-height: 24px;
}

#counter {
  font-size: 84px;
  line-height: 84px;
  font-weight: bold;
} 
